*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;

}

body{
    max-width: 100%;
}
.hidden{
    opacity :0;
    transition:all 1.5s;
    filter: blur(5px);
    transform: translateX(-100%);
}

.show{
    opacity: 1;
    filter:blur(0);
    transform: translateX(0);
}

.aaa{
    text-decoration: none !important;
    color:inherit;
}

.navBar{
    width: 100%;
    height: 80px;
    background-color: #072E33;
    position: sticky;
    top: 0;
    z-index: 999;
    box-shadow: 0 2px 4px -1px #0C7075;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 100px;
    color:#0F969C;
    font-size: 1.5rem;
}

.item{
    padding: 10px;
}

.item:hover{
    transition: 1s;
    background-color: #05161A;
    color: white;
}

.main{
    background-color :#0C7075;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.name{
    padding-left:10vw;
    padding-right: 10vw;
    min-height: 300px;
    color:#05161A;
    font-size: 12rem;
    
}

.spacer{
    aspect-ratio: 800/200;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}
.layer1{
    background-image: url("./images/back.svg");
    border: 0;
}

.main2{
    background-color: #05161A;
    min-height: 60vh;
    padding-bottom: 20vh;
}

.job{
    padding-left:10vw;
    padding-right: 10vw;
    padding-top: 15vh;
    padding-bottom: 10vh;
    min-height: 80px;
    color:#0C7075 ;
    font-size: 6rem;
    text-align: center;
}

.job img{
    height: 70px;
}

.me{
    background-color :#0C7075;
    min-height: 100vh;
    padding-bottom: 100px;
}

.centerpp{
    display:flex;
    justify-content:center;
    align-items:center;
    padding-top:100px
}
.pp{
    height: 500px;
    border-radius: 50%;
}

.content{
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 100px;

    font-size: 3rem;
}

hr{
    height: 5px;
    background-color: #05161A;
    border: 0;
    max-width: 75%;
}

.items{
    margin-top: 10px;
}


.footer{
    height: 30vh;
    background-color: #072E33;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    color:#0F969C;

}


.contactPath{
    min-height: 90vh;
    width: 100vw;
    background-color :#0C7075;
}

.contactDescription{
    font-size: 2rem;
    padding-top:5vh;
    padding-bottom: 3vh;
    text-align: center;
    color:#05161A;
}

@media (max-width:1200px) and (min-width:992px) {
    .name{
        font-size: 10rem;
    }
    .job{
        font-size: 4rem;
    }
    .pp{
        height: 450px;
    }
    .content{
        font-size: 2.5rem;
    }
    .job img{
        height: 60px;
    }
}
@media (max-width:992px) and (min-width:768px){
    .name{
        font-size: 8rem;
    }
    .job{
        font-size: 3rem;
    }
    .pp{
        height: 400px;
    }
    .content{
        font-size: 2rem;
    }
    .job img{
        height: 50px;
    }
}

@media (max-width:768px) and (min-width:640px){
    .name{
        font-size: 7rem;
    }
    .job{
        font-size: 2.7rem;
    }
    .pp{
        height: 400px;
    }
    .content{
        font-size: 1.8rem;
    }
    .job img{
        height: 30px;
    }
}
@media (max-width:640px){
    .navBar{
        justify-content: space-around;
        gap:0px;
    }
    .item{
        margin-left: 0px !important;
    }
    .name{
        font-size: 4rem;
    }
    .main{
        min-height: 40vh;
        padding-top: 20vh;
    }
    .job{
        font-size: 1.8rem;
        padding-top: 5vh;
        padding-bottom: 5vh;
    }
    .pp{
        height: 200px;
    }
    .centerpp{
        padding-top: 50px;
    }
    .content{
        font-size: 1.4rem;
        padding-top: 30px;
    }
    .job img{
        height: 30px;
    }
}
